{% extends "base.html" %}

{% load url from future %}

{% block title %} FMC Challenge - Scramble {{ scramble.id }} {% endblock %}

{% block content %}
	<div class="jumbotron text-center"><h1>{{ scramble.scramble }}</h1></div>
  This scramble will run from {{ scramble.pub_date.date }} to {{ scramble.end_date.date }}
    <div class="row">
      <div class="col-lg-6">
    	{% if error_message %}<p><strong>{{ error_message|safe }}</strong></p>{% endif %}
    	<h3>Submit your solution below</h3>
      <form class="form-horizontal" action="{% url 'submit' scramble.id %}" method="POST">
      {% csrf_token %}
      <fieldset>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="name">Name</label>
          <div class="col-sm-10">
            <input type="text" id="name" name="name" value="{{ name }}" class="form-control" size="50%">
          </div>
        </div>
     
        <div class="form-group">
          <label class="col-sm-2 control-label" for="solution">Solution</label>
            <div class="col-sm-10">
            <textarea rows="3" id="solution" name="solution" value="{{ solution }}" class="form-control"></textarea>
            </div>
        </div>
     
        <div class="form-group">
          <label class="col-sm-2 control-label"  for="comments">Comments</label>
          <div class="col-sm-10">
          <textarea rows="3" id="comments" name="comments" value="{{ comments }}" class="form-control"></textarea>
        </div>
        </div>
     
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-success">Submit</button>
          </div>
        </div>
      </fieldset>
      </form>
      <br><br>
      </div>
      <div class="col-lg-6">
      <h3>Check the Scramble</h3>
      <p>I recommend you check out a picture of the scramble at <a href="http://www.alg.cubing.net/?alg={{ scramble.scramble }}&view=playback">alg.cubing.net</a> to make sure you didn't make any mistakes when you scrambled your own cube. Also, make sure to check your solution before submitting. If your solution does not solve the cube, your submission <b>will not</b> be counted!</p>
      </div>
    </div>  
{% endblock %}

