{% extends "base.html" %}
{% block title %} FMC Challenge {% endblock %}


{% block content %}

{% if latest_scrambles %}
{% for scramble in latest_scrambles %}
    {% if forloop.first %}
        <div class="jumbotron text-center"><h1><a href="/{{ scramble.id }}/">{{ scramble.scramble }}</a></h1></div>
        <div class = "container">
        <div class="row"><div class="col-lg-6"><h2>What is the Weekly FMC Challenge?</h2>
        <p>The Weekly FMC Challenge was made for <a href="http://www.speedsolving.com">the SpeedSolving.com web forums</a> so that fewest moves enthusiasts can regularly compete with others and share solutions to the same scramble in order to learn from each other. Click the scramble to submit a solution!</p>
        <p>Although it is not required to submit a solution, <a href="/register/">creating an account</a> allows you to reserve a name. Creating accounts will also create a profile for you that lists all of your submissions. </p>
        </div>
        <div class="col-lg-6">
        <h2>Previous Scramble Results:</h2>
        <ul class="list-group">
    {% else %}
        <li class="list-group-item"><a href="{{ scramble.id }}/">{{ scramble.scramble }}</a></li>
    {% endif %}
{% endfor %}
</ul>
</div>
</div></div>
{% else %}
    <p>No scrambles have been posted.</p>
{% endif %}

{% endblock %}
