{% extends "base.html" %}

{% load url from future %}
{% block title %} Weekly FMC {% endblock %}


{% block content %}

{% if latest_scrambles %}
{% for scramble in latest_scrambles %}
    {% if forloop.first %}
        <div class="jumbotron text-center">
        <div class="container">
          <div row>
            <div class="col-lg-10">
              <h1><a href="{% url 'detail' scramble.id %}">{{ scramble.scramble }}</a></h1>
            </div>
            <div class="col-lg-2">
              <img src="http://cube.crider.co.uk/visualcube.php?bg=t&fmt=png&size=150&sch=wrgyob&pzl=3&alg={{ scramble.scramble }}">
            </div>
          </div>
        </div>
        </div>
        <div class = "container">
        <div class="row"><div class="col-lg-6"><h2>What is the Weekly FMC?</h2>
        <p>The Weekly FMC was made for <a target="_blank" href="http://www.speedsolving.com">the SpeedSolving.com web forums</a> so that fewest moves enthusiasts can regularly compete with others and share solutions to the same scramble in order to learn from each other. Click the scramble to submit a solution!</p>
        <p>Although it is not required to submit a solution, <a href="{% url 'register' %}">creating an account</a> allows you to reserve a name. Creating accounts will also create a profile for you that lists all of your submissions. </p>
        </div>
        <div class="col-lg-6">
        <h2>Previous Scramble Results:</h2>
        <ul class="list-group">
    {% else %}
        <li class="list-group-item"><a href="{% url 'detail' scramble.id %}">{{ scramble.scramble }}</a></li>
    {% endif %}
{% endfor %}
</ul>
</div>
</div></div>
{% else %}
    <p>No scrambles have been posted.</p>
{% endif %}

{% endblock %}
