{% if latest_scrambles %}
    <ul>
    {% for scramble in latest_scrambles %}
        {% if forloop.first %}
            <p>The current scramble for the weekly FMC challenge is: </p>
		  <div id="curr_scramble"><a href="./{{ scramble.id }}/">    {{ scramble.scramble }}</a></div>
          <p>Previous Scrambles:</p>
        {% else %}
            <li><a href="./{{ scramble.id }}/">{{ scramble.scramble }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No scrambles have been posted.</p>
{% endif %}