{% load url from future %}

<head>
<title>{% block title %} Title {% endblock %}</title>

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<script type="text/javascript">
  
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-47491324-1']);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  
  </script>

<style type="text/css">
body {
  padding-top: 50px;
}
a:hover {
    text-decoration:none;
}
</style>


</head>
    
<body>
        
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}">Weekly FMC<sup>BETA</sup></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'index' %}">Home</a></li>
        <!--<li><a href="{% url 'about' %}">About</a></li>-->
      </ul>
      <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
            <li><a href="{% url 'profile' user.id %}">Welcome, {{ user.username }} <i class="fa fa-cog"></i></a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
            <li><a href="{% url 'register' %}">Sign Up</a></li> 
            <li><a href="{% url 'login' %}">Log In</a></li> 
          {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
    
  </div>
</div>
  <div class="container">
  {% block content %} content area {% endblock %}
  </div
</body>

